/*näytetään postaukset rinnakkain, välissä tyhjää*/
.msg {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;   
}

.App {
    background-image: url("./icons/BgPic.jpg");
}
.message {
    /*3 elementtiä per rivi*/
    flex: 0 0 33.3333%;
    outline: 1px solid;
    white-space: nowrap;
    background-color: aliceblue;
    
}
/* messge divin p-tageissa olevan tekstin taustaväri muuttuu, kun hiiri on tekstin päällä*/
.message > p:hover {
    background-color: yellow;

}

.messageNoHover {
    /*3 elementtiä per rivi*/
    flex: 0 0 33.3333%;
    outline: 1px solid;
    white-space: nowrap;
    background-color: aliceblue;
}

.bannedWords {
    white-space: nowrap;
    color: red;
    font-weight: bold;
}

.msgTotal {
    padding: 4px;
    border: 2px solid black;
    position: absolute;
    top:8px;
    left: 245px;
}

.msgIcon {
    position: absolute;
    left:150px;
}



.loginDiv {
    margin: auto;
    width: 50%;
}

.matchCheck {
    color: green;
}

.searchView {
    background-color: aliceblue;
    border: 2px solid;
}

.logout {
    position: fixed;
    top:30px;
    right:10px;
    background-color: yellow;
    border-radius: 15px;
}
.createLink {
    color: white;
    
}
/*css animointi divin väri muuttuu punaisesta keltaiseen*/
.loginBtnDiv {
    width: 75px;

    background-color: blue;
    animation-name: loginBtnAnimate;
    animation-duration: 5s;
  }
  /*buttonin taustadivin väri muuttuu sinisestä keltaiseen ja takaisin siniseen.*/
  @keyframes loginBtnAnimate {
    from {background-color:blue;}
    to {background-color: red;}
}

.count {
    position: fixed;
    left:200px;
}
/*kun display=flex niin gap buttoneiden välissä toimii*/
.crudBtns {
    display: flex;
    background-image:url("./icons/crudBtnBg.jpg") ;
    gap: 10px;
}

.showBtn {
    position: fixed;
    top:101px;
    right: 602px;
}
