/*näytetään postaukset rinnakkain, välissä tyhjää*/
.msg {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.message {
    white-space: nowrap;
    background-color: aliceblue;
    
}

.bannedWords {
    white-space: nowrap;
    color: red;
    font-weight: bold;
}

.msgTotal {
    padding: 4px;
    border: 2px solid black;
    position: absolute;
    top:8px;
    left: 185px;
}

.msgIcon {
    position: absolute;
    left:150px;
}

.addBtn {
    border-radius: 5%;

    position: absolute;
    top:22px;
    left:350px;
}