
/*näytetään postaukset rinnakkain, välissä tyhjää*/
.msg {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.msgTime,.posted {
    display: inline;
}

.App {
    background-image: url("./icons/BgPic.jpg");
    height: 100vh;
    margin-top: -2px;
    background-repeat: cover;
}


.message {
    /*3 elementtiä per rivi*/
    flex: 0 0 33.3333%;
    outline: 2px solid;
    /*ilman rivinvaihtoa rakenne rikkoutuu
    white-space: nowrap;*/
    background-image: url("./icons/BgPic.jpg");
    
}
.messageCenter {
    /*3 elementtiä per rivi*/
    flex: 0 0 33.3333%;
    outline: 2px solid;
    text-align: center;
    /*ilman rivinvaihtoa rakenne rikkoutuu*/
    white-space: nowrap;
    background-image: url("./icons/BgPic.jpg");
    
}
/* messge divin p-tageissa olevan tekstin taustaväri muuttuu, kun hiiri on tekstin päällä*/
.message > p:hover {
    background-color: yellow;

}

.messageNoHover {
    /*3 elementtiä per rivi*/
    flex: 0 0 33.3333%;
    outline: 1px solid;
    /*white-space: nowrap;*/
    background-image: url("./icons/BgPic.jpg");
}

.banned {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
}



.msgIcon {
    position: absolute;
    left:150px;
}




.loginDiv {
    display: flex;

    text-align: center;
    align-items: center;
    margin: auto;
    width: 32%;
    height: auto;
    padding-left: 5px;
    /*syötekenttien ja painikkeiden taustakuva ns taustakuva taustakuvassa
    background-image:url("./icons/crudBtnBg.jpg");*/
    background-color: #748f8c;
    border-radius: 25px;
        /*nimetään animaation + kesto*/
}

  


.matchCheck {
    color: green;
}

.searchView {
    background-image: url("./icons/BgPic.jpg");
    border: 2px solid;
    overflow: visible;
    
}

.logout {
    display: flex;
    position: fixed;
    top:5px;
    right:10px;
    background-color: yellow;
    border-radius: 15px;
}

.timedLogoutSelect {
    position:absolute;
    top:61px;
    right:10px;
}

.timelogoutCB{
    display: flex;
    position: absolute;
    right:15px;
    top:106px;
}
.timedlogoutlbl {
    display: flex;
    position: absolute;
    top:100px;
    right:10px;
}
.createLink {
    color: white;
    
}
/*responsiivivuus määritys loginbtndiville*/

    
.loginBtnDiv {
    align-items: center;
    border-radius: 25px;
    text-align: center;
    
   /*
    position: fixed;
    top: 98px;
    right: 375px;
    width: 75px;*/

  }
  /*buttonin taustadivin väri muuttuu sinisestä keltaiseen ja takaisin siniseen.*/


.count {
    position: absolute;
    left:200px;
}
/*kun display=flex niin gap buttoneiden välissä toimii*/
.crudBtns {
    display: flex;
    align-items: flex-end;
    /*
    background-image:url("./icons/crudBtnBg.jpg") ;*/
    gap: 10px;
}
.flex-search{
    display: flex;
}




.showBtn {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:16.5%;
    right: 38%;
    /*transformin avulla buttonin liikkuminen saatiin halutunlaiseksi responsiivisuuden osalta*/
    transform: translateX(200%);
}



.dropdown-menu{
    background-color: aquamarine;
    
}
.tableMessages>tr,td,table{
    border: 2px solid black;

}
.tableMessages,.srcTitle,.srcSelect {
    margin-left: 10px;
}

.srcBtn{
    /*absolute pitää painikkeen paikoillaan skrollauksen aikana*/
    position: absolute;
    top:148px;
    left:200px;
}

.src {
    margin-left: 15px;
}

.statsBtn {
    position: absolute;
    left: 305px;
    top:150px;
}
.stats{
    text-align: center;
    background-color: #6d9c92;
    max-height: 400px;
    max-width: 400px;
    border-radius: 25px;
}
.colSelect {
    width: 180px;
    
}
.math {
    white-space: nowrap;
}


.saveBtn {
    position: absolute;
    top:354px;
    left:245px;
}
.postDateField {
    position: absolute;
    top:288px;
    left:250px;
}
.math {
    position: absolute;
    top:357px;
}

.addFields {
    top:330px;
}

.users {
    position: absolute;
    top:1px;
    left: 405px;
    font-weight: bold;
}

.weak {
    color: red;
}
.moderate {
    color: yellow;
}
.strong {
    color: green;
}


.censored {
    text-indent: -9999px; 
}


.notCensored {
    text-indent: 0px;
}

.card-img-top {
    background-color: #6d9c92;
    width: 26px;

   
}
.card {
    background-image: url("./icons/BgPic.jpg");

}
.card-body {
    background-image: url("./icons/BgPic.jpg");
    background-size: cover;
    border-radius: 20px;
}

.card-text,.card-title {
    font-weight: bold;
}

.firstMsgDiv {
    background-image: url("./icons/BgPic.jpg");

}
.checked {
    color: orange;
  }

.endCB {
    position:absolute;
    top:121px;
    right:50px;
}
.endLbl {
    position: absolute;
    right:75px;
    top: 120px;
}
/*pudotusvalikon checkboxien asemointi*/
.dropdown-menu input[type="checkbox"] {
    display: flex;
    flex-flow: column;
  }

.bscardslbl:hover {
    background-color: yellow;
}
.hoverOff:hover  {
    background-color: yellow;
}

.firstletter {
    /*inlinen avulla p-tagien väliin ei tule rivinvaihtoa*/
    display: inline;
    font-weight: bold;
    font-size: 200%;
    color: black;
    text-transform: capitalize;
    
}
.cb8 {
    float: left;
    
}
.pswCB {
    border:solid 1px;
    width: 30%;
}

.topOfPage {
    position: fixed;
    top:5px;
    right:130px;
}
.title {
    text-align: center;
    font-weight: bold;
}
.dropMenu {
    position: absolute;
    top:10px
}
 

  .header {
    background-color: #86bfb1;
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 20px;
    color: #eb1520;
    text-align: center;
    padding: 5px;
  }
  .content {
    font-size: 18px;
    text-align: center;
    background-color: #86bfb1;
    width: 100%;
    padding: 10px 5px;
  }

.breadcrumb,.searchH3 {
    margin-left: 10px;
}
.breadcrumb {
    background-color: #cdcfd1;
   /* padding: 25;*/
}
.isolator {
    border-width: 3px;
    color: red;
}
.user,.loginButton{
    margin-right: 15px;
}
.voiceLoginButton {
    margin-left: 15px;
}
.emailUsed {
    color: #e32044;
    font-weight: bold;

}
.likesP,.unlikesP {
    display: inline;
  
    padding: 5px;
    border-radius: 10px;
}
.likesP {
    margin-right: 8px;
    background-color: #3ecf4a;
}
.unlikesP {
    background-color: 
    #e04141
    ;
}
.posted {
    font-weight: bold;
}
.chars {
    white-space: nowrap;
}
.likes,.unlikes {
    color:black;
    font-weight: bold;
}
.usrMsg {
    font-weight: 700;
}